<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LIst</title>
    </head>
    <body>
        <% for(let i = 0; i < posts.length; i++) { %>
        <div>
            <ul>
                <li>
                    <a href="/detail/<%= posts[i]._id %>">
                        작성번호 <%= posts[i]._id %>
                    </a>
                </li>
                <li>작성자 <%= posts[i]._id %></li>
                <li>내용 <%= posts[i].title %></li>
                <li>마감일자 <%= posts[i].date %></li>
                <button data-id="<%= posts[i]._id %>" class="delete-btn">
                    삭제
                </button>
            </ul>
        </div>
        <% } %>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Ajax DELETE 서버 요청 보내기
        $('.delete-btn').click((e) => {
            // 고유 id값 찾기, data-id 값 추적
            const id = e.target.dataset.id;
            $.ajax({
                method: 'DELETE',
                url: '/delete',
                data: { _id: id },
            })
                .done((result) => {
                    // 성공 시, DOM을 이용해 홈페이지를 새로고침 강제로 시키기
                    // 성공 시, 해당 id 값의 태그 블라인드 시키기 *일종의 눈 속임
                })
                .fail((err) => {
                    console.log(err);
                });
        });
    </script>
</html>
